body{
    overflow-x: hidden;
    background-color: black;
    
}
.App{
    width: 100vw;
    display:flex;
    flex-direction: column;
    color: aliceblue;

}

.filterCity{
    width:60vw;
    margin: 1em auto 0 auto;
    display: block;
    padding:6px 1em 6px 1em;
    background-color: #3f39b7;
    border: none;
    border-radius: 10px;
}
input::placeholder {
    color: rgb(239, 234, 234); /* Change to your preferred color */
    opacity: 1;  /* Ensure full opacity (some browsers reduce opacity by default) */
}



.HourCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
}


.divHourForcast{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    background-color: #3f39b7;
    border-radius: 9px;
   
}

.divDailyForcas{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    flex: 1;  
      background-color: #3f39b7;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 9px;
    margin: 1em 3em 0 3em;
    height: 90%;
    min-height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
   
}

.div_Curr_daily{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:400px;
    margin-bottom:1em ;
    width: 100%;
}
.div_current{
    margin:3em;
    background-color: #3f39b7;
    flex: 2;
    height: 90%;
    margin: 1em 3em 0 3em;
    border-radius: 10px;
}

.img_curr{
width:8em;
height:7em;
margin:0
}



/* When screen is small, stack them vertically */
@media (max-width: 600px) {
    .div_Curr_daily {
      flex-direction: column; /* Change to vertical */
    }
}